:root {
  --first-color: #c89562;
  --first-color-dark: #d9a169;  /* Ensure sufficient contrast */
  --header-color: #ffffff;
  --text-color: #ffffff;
  --first-color-light: #ffa952;
  --first-color-lighten: #1B1A17;
  --first-color-lighten-highlight: #eeeeee10;
  --card-light_bg: #ff9a3621;
  --gradient: linear-gradient(45deg, #272727, #000000);
  --BG-image: url("/assets/img/BG-dark.jpg"); 
}
