:root {
  --first-color: #8662c8;
  --first-color-dark: #8969d9;  /* Ensure sufficient contrast */
  --header-color: #ffffff;
  --text-color: #ffffff;
  --first-color-light: #6c52ff;
  --first-color-lighten: #18171b;
  --first-color-lighten-highlight: #eeeeee10;
  --card-light_bg: #6c36ff21;
  --gradient: linear-gradient(45deg, #272727, #000000);
  --BG-image: url("/assets/img/BG-dark.jpg"); 
}
