:root {
  --first-color: #9d611d; /* Lightened version of first-color */
  --first-color-dark: #8c643c; /* Use the original dark mode color */ 
  --header-color: #121212; 
  --text-color: #1B1A17; 
  --first-color-light: #8c643c; /* Same as dark mode */
  --first-color-lighten: #f0f0f0;  /* Use the lightened first-color */
  --first-color-lighten-highlight: rgba(255, 255, 255, 0.2); 
  --card-light_bg: rgba(255, 255, 255, 0.4); 
  --gradient: linear-gradient(45deg, #e7bb85, #e7cda3, #f5e4d0); /* Updated gradient */
  --BG-image: url("/assets/img/BG-light.jpg"); /* Consider a lighter background image*/
}
