:root {
  --first-color: #461d9d; /* Lightened version of first-color */
  --first-color-dark: #543c8c; /* Use the original dark mode color */ 
  --header-color: #121212; 
  --text-color: #18171b; 
  --first-color-light: #211e6d; /* Same as dark mode */
  --first-color-lighten: #f0f0f0;  /* Use the lightened first-color */
  --first-color-lighten-highlight: rgba(171, 171, 171, 0.357); 
  --card-light_bg: #5e36ff21; 
  --gradient: linear-gradient(45deg, #e3daf0, #a69acc, #7b74a0); /* Updated gradient */
  --BG-image: url("/assets/img/BG-light.jpg"); /* Consider a lighter background image*/
}
