
 
 :root{
--bg-color: #ffffff;
 }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/* ------ Landing page ------*/
canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.details {
  background-color: black;
  color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.main__content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball-text {
  position: fixed;
  top: 10vh;
  margin: 2rem;
  z-index: 2;
  color: black;
  font-size: 5rem;
}
.ball-sub-text{
  position: fixed;
    top: 20vh;
    margin: 2rem;
    z-index: 2;
    color: black;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .ball-text {
    font-size: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
    canvas {
    object-fit: cover;
      object-position: 30% 50%;
    }
}

